<ul class="largenav pull-right">
  <li class="upper-links">
    <a class="links" href="https://teyit.org/nedir/" target="_blank">Nedir</a>
  </li>
  <li class="upper-links">
    <a class="links" href="https://teyit.org/metodoloji-ve-ilkeler/" target="_blank">Metodoloji ve İlkeler</a>
  </li>
  <li class="upper-links">
    <a class="links" href="https://teyit.org/ekip/" target="_blank">Ekip</a>
  </li>
  <li class="upper-links">
    <a class="links" href="https://teyit.org/ihbar-2/" target="_blank">İhbar</a>
  </li>
  <li class="upper-links">
    <a class="links" href="https://teyit.org/iletisim/" target="_blank">İletişim</a>
  </li>
</ul>
