{{define "body"}}
<div class="container">
    <div class="row row2">
        <div class="col-sm-2">
        {{template "logo" .}}
        </div>

        <div class="col-sm-5">
            <div class="row">
                <b>Kayıt Edilen Adres:</b>
                <a href="{{.data.Archive.RequestUrl}}" style="width: 100%; font-size: 13px" class="dib">
                    {{.data.Archive.RequestUrl}}
                </a> {{.data.Archive.MetaTitle}}
            </div>
        </div>

        <div class="col-sm-3">
            <div><strong>Tarih:</strong></div>
            <div><span>{{.data.Archive.CreatedAt}}</span></div>
        </div>

        <div class="col-sm-2 pull-right">
{{if .data.Archive.ArchivedAt}}
            <img src="/{{.data.Archive.Slug}}/screenshot" alt="{{.data.Archive.MetaTitle}}" height="100px" />
{{end}}
        </div>
    </div>
</div><!-- .container -->

<div class="capture-screen">
    <div class="container">
        <span class="cs-link">Sayfa Önizlemesi</span>
    {{if .data.Archive.ArchivedAt}}
        <iframe src="/{{.data.Archive.Slug}}/snapshot"
                width="100%" height="1200px" frameborder="0" class="site-source">
        </iframe>
    {{if .data.ShowAlreadyArchivedModal }}
        <div id="tl-already-archived-modal"></div>
        <script>window["TL_DATA"]["SHOW_ALREADY_ARCHIVED_MODAL"] = true;</script>
    {{end}}
    {{else}}
        <div width="100%" height="1200px" class="site-source">
            <h2>Arşivleme devam ediyor. Tamamlandığında sayfa otomatik olarak yenilecek.</h2>
        </div>
        <script>window["TL_DATA"]["ARCHIVE_IN_PROGRESS"] = true;</script>
    {{end}}
    </div>
</div><!-- .capture-screen -->

<script>
    window["TL_DATA"]["ARCHIVE"] = {{.data.ArchiveData}};
</script>

{{end}}
