{{define "body"}}
<div class="container">
    <div class="row row2">
        <div class="col-sm-2">
        {{template "logo" .}}
        </div>

        <div class="col-sm-8">
            <div class="row">
{{if .data.Archive.ArchivedAt}}
                <p>
                    Bu teyit.link arşivi <a href="{{.data.Archive.RequestUrl}}">{{.data.Archive.RequestUrl}}</a>
                    adresinden <span id="archive-created-at">{{.data.Archive.CreatedAt}}</span> tarihinde kaydedilmiş.
                </p>
                <p>
                    İsterseniz arşivi <a href="/{{.data.Archive.Slug}}/snapshot?dl=1">HTML</a>
                    veya <a href="/{{.data.Archive.Slug}}/screenshot?dl=1">JPG</a>
                    formatlarında indirebilirsiniz.
                </p>
{{ else }}
                <h2>
                    <a href="{{.data.Archive.RequestUrl}}">{{.data.Archive.RequestUrl}}</a> için arşivleme başladı.
                    Sayfa arşivlendiğinde otomatik olarak yönlendirileceksiniz.
                </h2>
{{ end }}
            </div>
        </div>

        <div class="col-sm-2 pull-right">
{{if .data.Archive.ArchivedAt}}
            <a href="/{{.data.Archive.Slug}}/screenshot" target="_blank">
                <img src="/{{.data.Archive.Slug}}/screenshot" alt="{{.data.Archive.MetaTitle}}" height="100px" />
            </a>
{{end}}
        </div>
    </div>
</div><!-- .container -->

{{if .data.Archive.ArchivedAt}}
<div class="capture-screen">
    <div class="container">
        <span class="cs-link">Sayfa Önizlemesi</span>

        <iframe src="/{{.data.Archive.Slug}}/snapshot"
                width="100%" height="1200px" frameborder="0" class="site-source">
        </iframe>
    </div>
</div>
    {{if .data.ShowAlreadyArchivedModal }}
    <div id="tl-already-archived-modal"></div>
    <script>window["TL_DATA"]["SHOW_ALREADY_ARCHIVED_MODAL"] = true;</script>
    {{end}}
{{else}}
<script>window["TL_DATA"]["ARCHIVE_IN_PROGRESS"] = true;</script>
{{end}}

<script>
    window["TL_DATA"]["PAGE"] = "archive_show";
    window["TL_DATA"]["ARCHIVE"] = {{.data.ArchiveData}};
    document.title = {{.data.Archive.MetaTitle}};
</script>

{{end}}
