{{define "body"}}
<div id="flipkart-navbar">
    <div class="topbar">
        <div class="container">
            <div class="row row1">
            {{template "menu" .}}
            </div>
        </div>
    </div><!-- .topbar -->

    <div class="container">
        <div class="row row2">
            <div class="col-sm-2">
            {{template "logo" .}}
            </div>

        {{template "searchbar"}}

        </div>
    </div><!-- .container -->
</div><!-- #flipkart-navbar -->

<div class="container" style="margin-top:30px">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        {{range .data.Results}}
            <div class="row result-row">
                <div class="col-md-3">
                    <div style="height: 150px; background-size: 100% auto; overflow: hidden; background-image: url(//s3.eu-central-1.amazonaws.com/teyitlink/{{.ArchiveID}}/screenshot.png);"></div>
                </div>

                <div class="col-md-9">
                    <h3><a href="/{{.Slug}}">{{.MetaTitle}}</a></h3>
                    <p>{{.MetaDescription}}</p>
                    <div class="result-link">{{.RequestUrl}}</div>
                    <time class="time" datetime="{{.CreatedAt}}"></time>
                </div>
            </div>
        {{end}}
            <nav aria-label="Search results pages">
                <ul class="pager">

                {{if eq .data.PreviousPageUrl ""}}
                <li class="previous disabled">
                <a class="page-link" tabindex="-1" href="javascript: void(0)">
                {{else}}
                <li class="previous">
                <a class="page-link" href="{{.data.PreviousPageUrl}}">
                {{end}}
                    <span aria-hidden="true">&larr;</span>Geri
                </a></li>

                {{if eq .data.NextPageUrl ""}}
                <li class="next disabled">
                <a class="page-link" tabindex="-1" href="javascript: void(0)">
                {{else}}
                <li class="next">
                <a class="page-link" href="{{.data.NextPageUrl}}">
                {{end}}
                    İleri<span aria-hidden="true">&rarr;</span>
                </a></li>

                </ul>
            </nav>
        </div>
    </div>

</div><!-- .container -->
{{end}}
