body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

a:hover {
  cursor: pointer;
}

#flipkart-navbar {
	background-color: #fff;
	color: #000;
	border-bottom: 1px solid #ddd;
}

.row1 {
	padding-top: 10px;
}

.row2 {
	padding: 30px 0;
}

.largenav {
	display: block;
}

.dib {
	display: block;
}

.topbar {
	background-color: #202020;
}

.flipkart-navbar-input {
	padding: 11px 16px;
	border-radius: 2px 0 0 2px;
	border: 1px solid #ccc;
	outline: 0 none;
	font-size: 15px;
	color: #000;
	position: relative;
	z-index: 10;
}

.fk-input {
	padding: 15px 21px;
}

.fk-button {
	color: #fff!important;
	height: 53px!important;
}

.flipkart-navbar-button {
	background-color: #202020;
	border: 1px solid #202020;
	border-radius: 0 2px 2px 0;
	color: #565656;
	padding: 14px 0;
	height: 45px;
	cursor: pointer;
}

.cart-button {
	background-color: #2469d9;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
	padding: 10px 0;
	text-align: center;
	height: 41px;
	border-radius: 2px;
	font-weight: 500;
	width: 120px;
	display: inline-block;
	color: #FFFFFF;
	text-decoration: none;
	color: inherit;
	border: none;
	outline: none;
}

.cart-button:hover {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.cart-svg {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 8px;
}

.item-number {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, .1);
	height: 20px;
	padding: 3px 6px;
	font-weight: 500;
	display: inline-block;
	color: #fff;
	line-height: 12px;
	margin-left: 10px;
}

.upper-links {
	display: inline-block;
	padding: 0 11px;
	line-height: 23px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0;
	color: inherit;
	border: none;
	outline: none;
	font-size: 12px;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin-bottom: 0px;
}

.dropdown:hover {
	background-color: #fff;
}

.dropdown:hover .links {
	color: #000;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown .dropdown-menu {
	position: absolute;
	top: 100%;
	display: none;
	background-color: #fff;
	color: #333;
	left: 0px;
	border: 0;
	border-radius: 0;
	box-shadow: 0 4px 8px -3px #555454;
	margin: 0;
	padding: 0px;
}

.links {
	color: #fff;
	text-decoration: none;
}

.links:hover {
	color: #ddd;
	text-decoration: none;
}

.profile-links {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #e9e9e9;
	box-sizing: border-box;
	display: block;
	padding: 0 11px;
	line-height: 23px;
}

.profile-li {
	padding-top: 2px;
}

.largenav {
	display: none;
}

.smallnav {
	display: block;
}

.smallsearch {
	margin-left: 15px;
	margin-top: 15px;
}

.menu {
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.largenav {
			display: block;
	}
	.smallnav {
			display: none;
	}
	.smallsearch {
			margin: 0px;
	}
}


/* result */

.result-row {
	margin-bottom: 20px;
}

.result-row h3 {
	padding: 0;
	margin: 0;
}

.result-row h3 a {
	color: #1a0dab;
	font-size: 18px;
	line-height: 21px;
	white-space: nowrap;
	visibility: visible;
}

.result-row h3 a:hover {
	text-decoration: underline;
}

.result-row h3 a:visited {
	color: #800080;
}

.result-row p {
	color: #545454;
	font-size: 13px;
	margin: 5px 0 0 0;
}

.result-row .result-link {
	color: #006621;
	font-size: 14px;
}

.result-row .time {
	color: #797979;
	font-size: 12px;
}


/* paginaiton */

.pagination {
	border-radius: 0;
}

.pagination>li>a, .pagination>li>span {
	padding: 9px 15px;
	margin-left: -1px;
	color: #333;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}


/* capture screen */

.capture-screen {
	background: #ddd;
	border-top: 3px solid #231f20;
}

.cs-link {
	background: #231f20;
	color: #fff;
	display: inline-block;
	padding: 11px 20px;
}

.site-source {
	margin-top: 20px;
}

.input-model-saved {
	display: block;
	padding: 10px 5px;
	width: 100%;
}


/* share */

.share-group {
	margin: 10px 0 0 0;
}

.btn-group {
	display: inline-block;
	font-size: 0;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
}

.mobile-social-share ul {
	float: right;
	list-style: none outside none;
	margin: 0;
	min-width: 61px;
	padding: 0;
}

.share {
	min-width: 17px;
}

.mobile-social-share li {
	display: block;
	font-size: 18px;
	list-style: none outside none;
	margin-bottom: 3px;
	margin-left: 4px;
	margin-top: 3px;
}

.btn-share {
	background-color: #BEBEBE;
	border-color: #CCCCCC;
	color: #333333;
}

.btn-twitter {
	background-color: #3399CC !important;
	width: 51px;
	color: #FFFFFF!important;
}

.btn-facebook {
	background-color: #3D5B96 !important;
	width: 51px;
	color: #FFFFFF!important;
}

.btn-facebook {
	background-color: #3D5B96 !important;
	width: 51px;
	color: #FFFFFF!important;
}

.btn-google {
	background-color: #DD3F34 !important;
	width: 51px;
	color: #FFFFFF!important;
}

.btn-linkedin {
	background-color: #1884BB !important;
	width: 51px;
	color: #FFFFFF!important;
}

.btn-pinterest {
	background-color: #CC1E2D !important;
	width: 51px;
	color: #FFFFFF!important;
}

.btn-mail {
	background-color: #FFC90E !important;
	width: 51px;
	color: #FFFFFF!important;
}

.caret {
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-top: 4px solid;
	display: inline-block;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	width: 0;
}

#socialShare {
	max-width: 59px;
}

#socialShare>a {
	padding: 6px 10px 6px 10px;
}
.open>.dropdown-menu {
  min-width: 60px;
}
.dropdown-menu>li>a {
  display: block;
  padding: 2px 0px;
  width: 30px;
  margin: 10px auto;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
