<div class="container">
  <div class="row row2">
    <div class="col-sm-2">
      {{> logo }}
    </div>

    <div class="col-sm-5">
      <div class="row">
        <label for="saved-input">Kayıt Edilen Adres:</label>
        <input class="dib flipkart-navbar-input" id="saved-input" type="text" style="width: 100%; font-size: 13px" value="{{ request_url }}" readonly />
      </div>
    </div>

    <div class="col-sm-3"></div>

    <div class="col-sm-2 pull-right">
      <div><strong>Tarih:</strong></div>
      <div><span>{{ created_at }}</span></div>
    </div>
  </div>
</div><!-- .container -->

<div class="capture-screen">
  <div class="container">
    <span class="cs-link">Sayfa Önizlemesi</span>
    <iframe class="site-source" src="//s3.eu-central-1.amazonaws.com/teyitlink/{{ archive_id }}/index.html" width="100%" height="1200px" frameborder="0"></iframe>
  </div>
</div><!-- .capture-screen -->
