{{define "menu"}}
<ul class="largenav pull-right">
  <li class="upper-links">
    <a class="links" href="https://teyit.org/nedir/" target="_blank">translation.aboutPage</a>
  </li>
  <li class="upper-links">
    <a class="links" href="https://teyit.org/metodoloji-ve-ilkeler/" target="_blank">translation.methodsAndPrinciples</a>
  </li>
  <li class="upper-links">
    <a class="links" href="https://teyit.org/ekip/" target="_blank">translation.teamPage</a>
  </li>
  <li class="upper-links">
    <a class="links" href="https://teyit.org/ihbar-2/" target="_blank">translation.reportPage</a>
  </li>
  <li class="upper-links">
    <a class="links" href="https://teyit.org/iletisim/" target="_blank">translation.contactPage</a>
  </li>
</ul>
{{end}}
